# Temporary files
*.tmp
*.log
*.bak

# Windows system files
Thumbs.db
Desktop.ini
ehthumbs.db

# Git temporary/backup files
*.swp
*.swo

# Compiled binary files
*.exe
*.dll
*.obj
*.pdb

# Archive files (ignore if you're using Releases to share them)
*.zip
*.7z
*.tar
*.rar

# IDE/editor folders
.vscode/
.idea/

# Cache and
